/* .itemBorders {
  text-decoration: none;
  color: inherit;
}

.whole-pod {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.item-pod img {
  height: 20rem;
  width: 20rem;
}

.item-pod {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  font-family: "CustomFont", sans-serif;
  font-size: 1.5rem;
}

.item-pod p {
  margin: 10px 0;
}

.sold-overlay {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-pod.sold {
  opacity: 0.4;
}

.item-pod:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.itemBorders {
  text-decoration: none;
  color: inherit;
}

.whole-pod {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.item-pod img {
  /* height: 18rem;
  width: 18rem; */
  height: 300px;
  width: 300px;
}

.item-pod {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  font-family: "CustomFont", sans-serif;
  font-size: 1.5rem;
}

.item-pod p {
  margin: 10px 0;
}

.sold-overlay {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-pod.sold {
  opacity: 0.4;
}

.item-pod:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
  }

  .whole-pod {
    flex-direction: column;
    padding: 1rem;
  }

  .item-pod img {
    /* height: 8rem;
    width: 8rem; */
    max-width: 125px;
    max-height: 125px;
  }

  .item-pod {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .sold-overlay {
    font-size: 14px;
  }
}
