html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

.customerNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-family: "CustomFont", sans-serif;
  font-size: 2.3rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-links li {
  padding: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-links a.active {
  color: white;
}

.cart-icon {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem;
  animation: none !important;
}

.cart-image {
  width: 80px;
}

.logo-image {
  display: flex;
  justify-content: flex-start;
  animation: spin 12s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.customerNavbar ul li a:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(128, 128, 128, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
}

@media (max-width: 768px) {
  .customerNavbar {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "logo cart"
      "nav nav";
    align-items: center;
    font-size: 1.2rem;
  }

  .logo-image {
    margin-top: 0.2rem;
    grid-area: logo;
    justify-self: start;
    max-height: 4rem;
    max-width: 4rem;
  }

  .cart-icon {
    margin-top: 0.3rem;
    grid-area: cart;
    justify-self: end;
    max-height: 4rem;
    max-width: 2.5rem;
  }

  .nav-links {
    margin: 0;
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
  }

  .nav-links li {
    margin: 0 0;
    gap: 0;
  }
}
