/* .text-home {
  padding: 20px;
  animation: fadeIn 1.5s ease-in-out;
  font-family: "CustomFont", sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-home h1 {
  font-size: 2em;
  margin-top: 20px;
  animation: slideUp 1s ease-in-out;
}

.text-home p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
} */

/* Customize styles to enhance the design */
.about-container {
  margin: 0 auto;
  padding: 1rem;
  font-family: "CustomFont", sans-serif;
  font-size: 2rem;
}

.section {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.section-content {
  max-width: 40rem;
  margin: 0 auto;
  text-align: justify;
}

.section-content h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  /* color: #333; */
  color: black;
}

.section-content p {
  font-size: 1.5rem;
  line-height: 1.3;
  /* color: #666; */
  color: black;
}

@media (max-width: 768px) {
  .about-container p {
    font-size: 1rem;
  }

  .refund-title h1 {
    font-size: 2.2rem;
  }
}
